<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layout/header.ejs") %>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- Preloader -->
      <%- include("../layout/preloader.ejs") %> <%-
      include("../layout/navbar.ejs") %> <%-include("../layout/sidebar.ejs") %>
      <div class="content-wrapper">
        <%- include("../layout/content-wrapper.ejs") %>
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Change Password</h3>

                    <!-- /.card-header -->
                    <div class="login-form bg-light p-4">
                      <form
                        action="/api/admin/changePassword"
                        method="POST"
                        class="row g-3"
                      >
                        <% if(typeof alert != 'undefined') { %> <%
                        alert.forEach(function(error) { %>
                        <div
                          class="
                            alert alert-warning alert-dismissible
                            fade
                            show
                          "
                          role="alert"
                          style="font-size: 12px; padding: 5px 5px 5px 5px"
                        >
                          <%= error.msg %>
                        </div>
                        <% }) %> <% } %> <% if(message != " "){%>
                        <div
                          class="
                            alert alert-warning alert-dismissible
                            fade
                            show
                          "
                          role="alert"
                          style="font-size: 12px; padding: 5px 5px 5px 5px"
                        >
                          <%= message %>
                        </div>
                        <%}%>
                        <div class="form-group col-12">
                          <label>Current Password</label>
                          <input
                            type="password"
                            name="password"
                            class="form-control"
                            placeholder="Current Password"
                          />
                        </div>
                        <div class="form-group col-12">
                          <label>New Password</label>
                          <input
                            type="password"
                            name="newPassword"
                            class="form-control"
                            placeholder="New Password"
                          />
                        </div>
                        <div class="col-12">
                          <button
                            type="submit"
                            class="btn btn-primary float-end"
                          >
                            Submit
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <%- include("../layout/footer.ejs") %>
    </div>
    <%- include("../layout/js.ejs") %>
  </body>
</html>
