<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layout/header.ejs") %>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- Preloader -->
      <%- include("../layout/preloader.ejs") %> <%-
      include("../layout/navbar.ejs") %> <%-include("../layout/sidebar.ejs") %>
      <div class="content-wrapper">
        <%- include("../layout/content-wrapper.ejs") %>
        <section class="content">
          <div class="container-fluid">
            <h2 class="text-center display-4">Search</h2>
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <div class="col-3">
                  <div class="form-group">
                    <label>Search By: </label>
                    <select
                      class="select2"
                      id="formChoice"
                      style="width: 100%"
                      name="formChoice"
                    >
                      <option value="/api/admin/searchByCrime/" selected>
                        Crime Type
                      </option>
                      <option value="/api/admin/searchByName/">
                        User Name
                      </option>
                      <option value="/api/admin/searchByStatus">Status</option>
                    </select>
                  </div>
                </div>
                <form
                  action=""
                  method="POST"
                  name="form1"
                  onsubmit="onSubmit()"
                >
                  <div class="input-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Type your keywords here"
                    />
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-lg btn-default">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <%- include("../layout/footer.ejs") %>
    </div>
    <script>
      function onSubmit() {
        let e = document.getElementById("formChoice");
        let formAction = e.options[e.selectedIndex].value;
        document.form1.action = formAction;
      }
    </script>
    <%- include("../layout/js.ejs") %>
  </body>
</html>
